body {
    font-family: "Alte DIN 1451 Mittelschrift", sans-serif;
}

.navbar-custom {
    background-color: white;
}

@font-face {
    font-family: 'Alte DIN 1451 Mittelschrift';
    src:  url('../fonts/din1451alt.ttf');
  }